#preview{
  background-color: gainsboro;
  padding: 20px;
  border-left: 5px solid orange;
}
.App{
  display: flex;
}
.col{
  width: 50%;
}
textarea{
  border: none;
  outline: none;
  width: 50%;
  height: 100vh;
  box-sizing: border-box;	
  position: fixed;
}
textarea:focus{
  border: none;
  outline: none;
}
img{
  max-width: 100%;
}